BODY {
  background-color:white;
  font-size:small;
  font-family:Frutiger,Helvetica,Arial;}
PRE {
 font-family:Courier,"Courier New",monospace;
 white-space:pre;
 padding:5px;
 border:1px solid;
 background-color:#FFFFCC;}
DT {
 font-weight:bold;}
CODE {
 font-family:Courier,"Courier New",monospace;}
A {
 color:#0000FF; }
A.BOLD {
 color:#000066;
 text-decoration:none;
 font-weight:bold; }
A.SMALL {
 color:#000066;
 text-decoration:none;
 font-size:x-small; }
A.SMALLMISSING {
 color:gray;
 text-decoration:none;
 font-size:x-small; }
B {
 font-weight:bold; }
B.BIG {
 font-size:large; }
B.MENU {
 font-size:x-small; }
